@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Make clicks pass-through */
  #nprogress {
    @apply pointer-events-none;
  }

  #nprogress .bar {
    @apply bg-indigo-500 fixed top-0 left-0 z-[1031] w-full h-1;
  }

  /* Fancy blur effect */
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
}
